[submodule "Libs/json"]
	path = Libs/json
	url = https://github.com/nlohmann/json.git
[submodule "sailing_simulator"]
	path = sailing_simulator
	url = https://github.com/AlandSailingRobots/sailing_simulator.git
