
# Build files
build/
sr
*.so
*.run

# Database and log files
*.db
*.db-journal
*.log


# Other
*.vim
*.tags
*.gch
gps.txt
org.kde.konsole.desktop

# for unit tests
NavigationSystem/Tests/cxxtest/python/python3/cxxtest/__pycache__/
NavigationSystem/Tests/runner.cpp
NavigationSystem/Tests/runner.o
NavigationSystem/Tests/runnerHardware.cpp
NavigationSystem/Tests/runnerHardware.o
