<ship>
 <sail>
  <channel>0</channel>
  <min>5420</min>
  <mid>6310</mid>
  <max>7200</max>
  <range>90</range>
  <clockwise>false</clockwise>
  <speed>5</speed>
  <acceleration>0</acceleration>
 </sail>
 <rudder>
  <channel>1</channel>
  <min>4000</min>
  <mid>6000</mid>
  <max>8000</max>
  <range>90</range>
  <clockwise>true</clockwise>
  <speed>0</speed>
  <acceleration>0</acceleration>
 </rudder>
</ship>